In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
dataset = pd.read_csv('Social_Network_Ads.csv')
print(dataset.head())

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Gender'] = le.fit_transform(dataset['Gender'])
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [10]:
X = dataset.iloc[:,1:4].values
Y = dataset.iloc[:,-1].values

In [11]:
# Splitting the data into train and test
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(X,Y , random_state = 0 , test_size = 0.25)

In [12]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
sc=StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [13]:
from sklearn.svm import SVC

classifier = SVC(kernel = 'poly',degree = 3,random_state = 0) 
classifier.fit(x_train , y_train)

y_pred = classifier.predict(x_test)

In [15]:
from sklearn.metrics import confusion_matrix , accuracy_score
cm = confusion_matrix(y_test , y_pred)
cm

array([[65,  3],
       [ 7, 25]], dtype=int64)

In [18]:
score = accuracy_score(y_test , y_pred)
score

0.9

In [19]:
from sklearn.model_selection import cross_val_score
score1 = cross_val_score(classifier , X , Y , cv = 10 )
score1.mean()

0.745